<?xml version="1.0"?>
<configuration>

	<!-- Here we define the ODOS configuration sections for the client. 
	     Only the communication setup section is needed.  -->
	<configSections>
		<section name="CommunicationSetup" type="ODOS"/>
	</configSections>

	<appSettings>
		<!-- ODOS Setting: Output/Console Logging Level { Debug, Full, Info, Warning, Error, Any, None } -->
		<!--<add key="Output Level" value="Full"/>-->

		<!-- ODOS Setting: File Logging Level { Debug, Full, Info, Warning, Error, Any, None } -->
		<!--<add key="Log Level" value="Full"/>-->
		<!--SECURITY-->
		<add key="Login With Stored Credentials" value="false"/>
	</appSettings>

	<!-- Here we set the settings for the communication method that the client will use to connect to the server.
	     Each library may have more than one protocols. 
	     For example "Streaming" library contains the NamedPipes (pipe) and the Web Socket (ws) implementation. -->
	<CommunicationSetup>
		<client library="streaming" protocol="ws"/>
	</CommunicationSetup>
</configuration>
