<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- Here we define the ODOS configuration sections for the server. 
	     The sections are: one per registered domain, one for Communication libraries and one for the Identity Store Configuration  -->
	<configSections>
		<section name="IdentityStoreSetup" type="ODOS"/>
		<section name="CommunicationSetup" type="ODOS"/>
		<section name="Mc3s.Odos.Domain" type="ODOS"/>
		<section name="Mc3s.Odos.Security.Identity.Domain" type="ODOS"/>
		<section name="Mc3s.Odos.Domain.Northwind" type="ODOS"/>
	</configSections>

	<!-- Here we set various settings for the process (both ODOS defined and custom application ones) -->
	<appSettings>
		<!-- ODOS Setting: Output/Console Logging Level { Debug, Full, Info, Warning, Error, Any, None } -->
		<!--<add key="Output Level" value="Full"/>-->

		<!-- ODOS Setting: File Logging Level { Debug, Full, Info, Warning, Error, Any, None } -->
		<!--<add key="Log Level" value="Full"/>-->

		<!-- ODOS Setting: SecurityImmutableAccountsMode { None, Registered, Configured, OSDefined, All } -->
		<add key="Security Immutable Accounts Mode" value="OSDefined"/>

		<!-- Custom Setting: Set to true to create test data (set it to true on second run of the server) -->
		<add key="Create Test Data On Init" value="false"/>

	</appSettings>

	<!-- Defined the security accounts. Here we define that the security accounts are coming from the
	     Operating System. -->
	<IdentityStoreSetup Name="Northwind" availableversion="1">
		<!-- OSDefined SourceType { ProcessAuthenticatingDomain, Machine, ActiveDirectory, Other } -->
		<ImportedDomain sourcetype="Machine"  availableversion="1" />
	</IdentityStoreSetup>

	<!-- This is the configuration for the data store of internal ODOS domain named Mc3s.Odos.Domain. 
	     The server will use the MS SQL Server driver to write in localhost DB Server in Database Northwind_SystemDb -->
	<Mc3s.Odos.Domain
	  Mandatory="true"
	  PersistanceMgrType="MSSQL.OODB"
	  DomainDBSyncMode="Auto"
	  WriterConnectionStr="Server=localhost;Database=Northwind_SystemDb;Integrated Security=sspi;MultipleActiveResultSets=True"
    />

	<!-- This is the configuration for the data store of internal identiy domain named Mc3s.Odos.Security.Identity.Domain  
	     The server will use the MS SQL Server driver to write in localhost DB Server in Database Northwind_IdentityDb -->
	<Mc3s.Odos.Security.Identity.Domain
	  Mandatory="true"
	  PersistanceMgrType="MSSQL.OODB"
	  DomainDBSyncMode="Auto"
	  WriterConnectionStr="Server=localhost;Database=Northwind_IdentityDb;Integrated Security=sspi;MultipleActiveResultSets=True"
    />

	<!-- This is the configuration for the data store of the actual Northwind Domain named Mc3s.Odos.Domain.Northwind  
	     The server will use the MS SQL Server driver to write in localhost DB Server in Database Northwind_MainDb -->
	<Mc3s.Odos.Domain.Northwind
	  Mandatory="true"
	  PersistanceMgrType="MSSQL.OODB"
	  DomainDBSyncMode="Auto"
	  WriterConnectionStr="Server=localhost;Database=Northwind_MainDb;Integrated Security=sspi;MultipleActiveResultSets=True"
    >
	</Mc3s.Odos.Domain.Northwind>

	<!-- Here we set the settings for the communication method. Each library may have more than one protocols. 
	     For example "Streaming" library contains the NamedPipes (pipe) and the Web Socket (ws) implementation -->
	<CommunicationSetup>
		<server>
			<!-- Here we define in which protocols does the Server Object Manager listens for new connections from clients -->
			<agent library="streaming" protocol="ws"/>
			<agent library="streaming" protocol="pipe"/>
		</server>
		<!-- Although this is a server, we still define client communication protocol, because the server contains and embedded 
		     Client Object Manager for internal management use. Here we define with which protocol will this client connect to the server. -->
		<client library="streaming" protocol="pipe"/>
	</CommunicationSetup>
</configuration>
